<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <title>Sơ Đồ Cơ Cấu Tổ Chức</title>
    <link rel="stylesheet" href="cctc1.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>


<div class="org-chart-container">
    <div class="org-box">ĐẠI HỘI ĐỒNG CỔ ĐÔNG</div>

    <div class="org-level-split">
        <div class="org-box">HỘI ĐỒNG QUẢN TRỊ</div>
        
        <div class="org-side-branch">
            <div class="org-box">BAN KIỂM SOÁT</div>
        </div>

        <div class="org-box">BAN GIÁM ĐỐC</div>
    </div>

    <div class="org-departments-wrapper">
        
        <div class="org-dept-column">
            <div class="org-box dept-title">KHỐI TỔNG HỢP HÀNH CHÍNH</div>
            
            <div class="org-group-box">
                <div class="org-grid-2x2">
                    <div class="org-box-small">PHÒNG TỔ CHỨC<br>HÀNH CHÍNH</div>
                    <div class="org-box-small">PHÒNG KẾ TOÁN - TÀI VỤ</div>
                    <div class="org-box-small">PHÒNG HỢP TÁC XUẤT BẢN</div>
                    <div class="org-box-small">PHÒNG THIẾT KẾ<br>MINH HỌA - BẢN ĐỒ</div>
                </div>
            </div>
        </div>

        <div class="org-dept-column">
            <div class="org-box dept-title">KHỐI NỘI DUNG</div>

            <div class="org-group-box">
                <div class="org-grid-2x3">
                    <div class="org-box-small">BAN TOÁN - TIN</div>
                    <div class="org-box-small">BAN NGỮ VĂN</div>
                    <div class="org-box-small">BAN MẦM NON - TIỂU HỌC</div>
                    <div class="org-box-small">BAN NGOẠI NGỮ</div>
                    <div class="org-box-small">BAN KHOA HỌC TỰ NHIÊN</div>
                    <div class="org-box-small">BAN KHOA HỌC XÃ HỘI</div>
                </div>
            </div>
        </div>

    </div>
</div>

</body>
</html>
