/* --- 5. Footer --- */
.main-footer {
    background-color: #95CC44;
    color: #303030;
    padding: 40px 0;
    font-size: 14px;
}
.main-footer .container {
    display: flex;
    align-items: center;
    gap: 30px;
}
.footer-logo {
    display: flex;
    align-items: center;
    gap: 15px;
}
.footer-logo-image {
    height: 40px;
    width: auto;
}
.footer-logo h2 {
    font-size: 18px;
    color: white;
    margin: 0;
    line-height: 1.4;
}
.footer-info p {
    margin: 5px 0;
    line-height: 1.6;
    color: #303030;
}