/* NOTE: import font google */
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

html {
  position: relative;
  font-size: 1vw;
  scrollbar-gutter: stable;
}
@media (max-width: 768px) {
  html {
    font-size: 4.267vw;
    scrollbar-gutter: auto;
  }
}

body {
  max-width: 100vw;
  min-height: 100vh;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

section {
  position: relative;
  overflow-x: clip;
}

a {
  display: block;
}

.section-bg-img,
.section-bg,
.section-deco {
  pointer-events: none;
  user-select: none;
}

.swiper-slide,
.swiper-slide img {
  user-select: none;
}

img {
  object-fit: cover;
}

:root {
  --ease-kKao4: cubic-bezier(0.25, 0.74, 0.22, 0.99);
}

.primary-btn {
  display: flex;
  height: 2.5rem;
  padding: 0.625rem 1.5rem 0.625rem 1.5rem;
  justify-content: center;
  align-items: center;
  border-radius: 0rem 1rem;
  border: 1px solid var(--greyscaletext-20, #a9a9a9);
  margin: auto;
  transition: all 0.6s var(--ease-kKao4);
  position: relative;
  overflow: hidden;
  height: 2.5rem;
}

.primary-btn p {
  color: var(--greyscaletext-80, #262626);
  font-family: "Inter";
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
  transition: all 0.6s var(--ease-kKao4);
}

.primary-btn svg,
.primary-btn img {
  margin-right: 0.5rem;
  width: 0.4375rem;
  height: 0.5625rem;
  position: relative;
  z-index: 1;
  transition: all 0.6s var(--ease-kKao4);
}

.primary-btn svg path {
  transition: all 0.6s var(--ease-kKao4);
}

.primary-btn .overlay-btn {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
  background: var(
    --fill-button-yellow,
    linear-gradient(236deg, #fff -10.38%, #fbab2b 31.88%, #f9a31a 100.4%, #f9a31a 103.83%)
  );
  opacity: 0;
  transition: all 0.6s var(--ease-kKao4);
}

.primary-btn:hover {
  border-color: transparent;
}

.primary-btn:hover .overlay-btn {
  opacity: 1;
}

.primary-btn:hover p {
  color: #fff;
}

.primary-btn:hover svg path {
  fill: #fff;
}

.primary-btn.active {
  border-color: transparent;
}

.primary-btn.active p {
  color: #fff;
}

.primary-btn.active svg path {
  fill: #fff;
}

.primary-btn.active .overlay-btn {
  opacity: 1;
}

@media (max-width: 768px) {
  .primary-btn {
    border-color: transparent;
  }

  .primary-btn p {
    color: #fff;
  }

  .primary-btn svg path {
    fill: #fff;
  }

  .primary-btn .overlay-btn {
    opacity: 1;
  }
}

.noti-container {
  position: fixed;
  bottom: 0;
  left: 2rem;
  width: 24rem;
  border-radius: 0.75rem;
  background-color: #fff;
  border: 1px solid hsl(0, 0%, 93%);
  padding: 1rem;
  z-index: 10000;
  box-shadow: 0 4px 12px #0000001a;
  transform: translate(0, 100%);
  transition: all 0.8s var(--ease-kKao4);
}

.noti-container strong {
  color: black;
  text-align: center;
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.noti-container > button {
  width: 0.875rem;
  height: 0.875rem;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  opacity: 0.2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.noti-container > button > svg {
  width: 100%;
  height: 100%;
}

@media (max-width: 768px) {
  .noti-container {
    width: 92%;
    bottom: 0;
	left: auto;
    right: 50%;
    transform: translate(50%, 100%);
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@media (max-width: 768px) {
	main{
		margin-top: 3.1rem;
	}
}

.scrollbar-container {
  position: fixed;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  height: 99%;
  width: 0.45rem;
  background-color: transparent;
  z-index: 10000;
}

.scrollbar-container .scrollbar-thumb-container {
  position: absolute;
  top: 0;
  right: 0;
  width: 0.6rem;
  overflow: visible;
  visibility: hidden;
  cursor: grab;
  z-index: 1;
}

.scrollbar-container .scrollbar-thumb {
  width: 0.45rem;
  height: 100%;
  margin-right: auto;
  border-radius: 0.65rem;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
  user-select: none;
}

.slide-in-text {
	visibility: hidden;
}

@media (max-width: 768px) {
  .scrollbar-container {
    display: none;
  }
	
.slide-in-text {
	visibility: visible;
}
}

/* Header  */

.container {
    width: 100%;
    
    max-width: 1390px;
    
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
}

.header .container {
    width: 100%;
    max-width: 1390px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
}
.header {
    width: 100%; 
}

.header__top {
    background: #13AE5B;
    font-family: "Inter", sans-serif;
}

/* Phần chứa liên hệ */
.header__contact {
    display: flex;
    align-items: center;
    gap: 34.24px;
    padding-left: 15px;
}

.header__phone {
    display: flex;
    align-items: center;
    gap: 8px;
}

.header__phone svg {
    width: 20px;
    height: 19px;
    fill: #FFF;
}

.header__phone p {
    color: #FFF;
    font-size: 20px;
    margin: 0; 
}

/* Email */
.header__email {
    display: flex;
    align-items: center;
    color: #FFF;
    font-size: 20px;
    gap: 10px;
}

.header__email svg {
    width: 27px;
    height: 16px;
    fill: #FFF;
}

.header__email p {
    color: #FFF;
    font-size: 20px;
    margin: 0; 
}

.header__nav {
    background: #FFF; 
    border-bottom: 1px solid #EEE;
}

.header__nav-inner {
    display: flex;
    align-items: center;
    
    gap: 30px; 
    justify-content: flex-end;
    padding-top: 15px;
    padding-bottom: 15px;
}

.header__logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    flex-shrink: 0; 
}

.header__logo svg {
    width: 49.61px;
    height: 65.6px;
    margin-right: 16.39px;
}

.header__logo-text .header__company-name {
    color: #14AE5C;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.2;
    margin: 0;
}

.header__menu {
    display: flex;
    list-style: none;
    flex-grow: 1;
    margin: 15px 45px 0 0;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    width: 100%; 
    justify-content: flex-end; 
}
.menu__item {
    display: flex;
    flex-shrink: 0;
    border: 0.5px solid rgba(48, 48, 48, 0.50);
    background: #F5F5F5;
}

.menu__item p {
    margin: 0;
}

.menu__link {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 6px 12px;

    /* Lấy lại style cũ của <p> */
    color: #303030;
    font-family: "Inter", sans-serif;
    font-size: 15px;
    font-weight: 500;
}

.menu__link svg {
    margin-left: 7px;
    /* Xóa margin-top/right cũ đi */
}

.menu__item.menu__item--active {
    background: #13AE5B;
}

.menu__item.menu__item--active .menu__link {
    color: #F5F5F5;
    font-weight: 700;
}

.menu__item.menu__item--active .menu__link svg {
    stroke: #F5F5F5;
}

.menu__item--has-dropdown {
    position: relative; 
}


.submenu {
    display: none;
    
    position: absolute; 
    top: 100%; 
    left: 0;
    
    background: #FFFFFF; 
    border: 1px solid #DDD;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    border-radius: 0 0 8px 8px; 
    
    min-width: 200px; 
    list-style: none;
    padding: 0;
    margin: 0;
    z-index: 100; 
}

.menu__item--has-dropdown:hover .submenu {
    display: block; 
}

.submenu__item a {
    display: block;
    padding: 12px 20px;
    color: #303030;
    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-size: 14px;
}

.submenu__item a:hover {
    background: #f5f5f5; 
    color: #13AE5B;
}

.header__actions {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-shrink: 0; /* Không co lại */
}

.header__search {
    position: relative;
    display: flex;
    align-items: center;
    padding-top: 15px;
}


.header__search-toggle {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
}
.header__search-toggle svg {
    width: 18px;
    height: 18px;
}

/* Thanh tìm kiếm (ẨN MẶC ĐỊNH) */
.header__search-form {
    display: none; 
    position: absolute; 
    top: 100%;
    right: 0; 
    margin-top: 10px; 
    z-index: 100;
    border: 1px solid #DDD;
    border-radius: 20px; 
    background: #FFF;
    overflow: hidden;
} 

.header__search-bar {

    border: none;
    padding: 8px 12px;
    font-size: 14px;
    width: 200px; 
    outline: none; 
}

.header__search-submit {
    background: #13AE5B; 
    border: none;
    color: white;
    cursor: pointer;
    padding: 0 12px; 
    
    display: flex;
    align-items: center;
    justify-content: center;
}
.header__search-submit:hover {
    background: #02542D; 
}
.header__search-submit svg {
    width: 14px;
    height: 14px;
    fill: white; 
}

.header__search.is-active .header__search-form {
    display: flex; 
}


/* === 2. PHẦN NGÔN NGỮ === */
.header__lang-switcher {
    position: relative; 
    cursor: pointer;
    padding-top: 15px;
}

.lang-switcher__current {
    display: flex;
    align-items: center;
    gap: 5px;
    color: #13AE5B;
    font-family: "Inter", sans-serif;
    font-size: 15px;
    font-weight: 500;
}

.lang-switcher__dropdown {
    display: none;
    position: absolute;
    top: 15px;
    right: -100%; 
    background: #FFF;
    border: 1px solid #EEE;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    border-radius: 8px;
    padding: 5px;
    margin: 5px 0 0 0;
    list-style: none;
    min-width: 120px;
    z-index: 100;
}

.header__lang-switcher:hover .lang-switcher__dropdown {
    display: block;
}

.lang-switcher__dropdown li a {
    display: block;
    padding: 8px 15px;
    color: #303030;
    font-size: 14px;
    text-decoration: none;
    border-radius: 5px;
}
.lang-switcher__dropdown li a:hover {
    background-color: #f5f5f5;
    color: #13AE5B;
}
/* End Header */


/* Footer */
.footer {
    width: 100%;
    background: #95CC44;
    padding: 40px 0;
    margin-top: 50px; 
}

.footer .container {
    width: 100%;
    max-width: 1390px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
}

.footer__inner {
    display: flex;
    /* justify-content: space-between;
    align-items: flex-start;  */
    flex-wrap: nowrap; 
    gap: 30px; 
}

.footer__logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.footer__logo svg {
    width: 49.61px;
    height: 65.6px;
    margin-right: 16.39px;
    flex-shrink: 0;
}

.footer__logo .footer__logo-text {
    color: #FFF;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.2;
    white-space: normal;
    margin: 0;
}

.footer__info {
    color: #303030;
    font-size: 20px; 
    line-height: 1.6;
    text-align: left;
    white-space: normal;
    margin: 0;
}

.footer__info p {
    margin: 0 0 10px 0; 
}
.footer__info p:last-child {
    margin-bottom: 0;
}

/* End Footer */

/* === BẮT ĐẦU CSS RESPONSIVE === */
@media (max-width: 992px) {

    .header .container {
        padding-left: 20px;
        padding-right: 20px;
    }

    .header__top-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .header__contact {
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;
        padding-left: 0;
    }

    .header__phone p,
    .header__email p {
        font-size: 14px;
        margin: 0;
    }

    .header__nav-inner {
        flex-direction: column;
        align-items: center;
        gap: 15px;
        padding-left: 0; 
        padding-right: 0;
    }

    .header__actions {
        display: none;
    }

    .header__menu {
        display: block;
        width: 100%;
        margin: 0;
    }

    .menu {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        padding-right: 0;
    }

    .menu__item {
        flex-basis: 33.33%;
        flex-grow: 1;
        border-right: none;
        justify-content: center;
    }

    .menu__link {
        justify-content: center;
        width: 100%;
        text-align: center;
    }

    .menu__link svg {
        display: none;
    }

    .footer__inner {
        flex-direction: column;
        align-items: flex-start;
        flex-wrap: wrap;
    }

    .footer__info {
        text-align: left;
        max-width: 100%;
        font-size: 16px;
    }

    .footer__info p {
        margin: 0;
    }

    .footer__logo .footer__logo-text {
        font-size: 20px;
    }
}


@media (max-width: 768px) {
    .header .container {
        padding-left: 35px;
        padding-right: 35px;
    }

    .header__top-inner, 
    .header__nav-inner {
        padding-left: 35px !important;
        padding-right: 35px !important;
        width: 100%;
        box-sizing: border-box;
    }

    .header__contact {
        position: relative;
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
        width: 100%;
    }

    .header__phone, 
    .header__email {
        gap: 6px;
    }

    .header__phone p, 
    .header__email p {
        font-size: 13px;
    }

    .header__toggle {
        display: block;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 30px;
        height: 30px;
        background-color: transparent;
        border: 1px solid #FFF;
        border-radius: 4px;
        cursor: pointer;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='white' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 20px;
    }

    .header__nav-inner {
        flex-direction: column;
        padding-top: 15px;
        padding-bottom: 15px;
        gap: 20px;
    }

    .header__logo svg {
        width: 40px;
        height: 52px;
        margin-right: 10px;
    }

    .header__company-name {
        font-size: 18px;
    }

    .header__menu {
        width: 100%;
        margin: 0;
    }

    .menu {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .menu__item {
        flex-basis: 50%;
        max-width: 50%;
        border: 1px solid #e0e0e0;
        margin: -0.5px;
        background: #F9F9F9;
    }

    .menu__link {
        justify-content: center;
        text-align: center;
        padding: 12px 5px;
        font-size: 14px;
        height: 100%;
    }

    .menu__link svg {
        display: none;
    }

    .header__actions {
        display: none;
    }
  
    .footer {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .footer__inner {
        flex-direction: column; /* Xếp dọc logo và thông tin */
        
        /* Thêm Padding 2 bên để không dính lề */
        padding-left: 15px !important;
        padding-right: 15px !important;
        box-sizing: border-box;
        width: 100%;
    }

    /* Thu nhỏ chữ Logo một chút cho đỡ to quá khổ */
    .footer__logo .footer__logo-text {
        font-size: 18px; 
    }
    
    .footer__logo svg {
        width: 40px;
        height: 52px;
    }

    /* Thu nhỏ chữ thông tin và cho full chiều rộng */
    .footer__info {
        font-size: 14px;
        width: 100%;
    }
    
}