
@font-face {
  font-family: "Inter";
  src: url("./font/Inter-VariableFont_opsz,wght.ttf")
    format("truetype-variations");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
/* Italic */
@font-face {
  font-family: "Inter";
  src: url("./font/Inter-Italic-VariableFont_opsz,wght.ttf")
    format("truetype-variations");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Tilt Warp";
  src: url("./font/TiltWarp-Regular-VariableFont_XROT,YROT.ttf")
    format("truetype-variations");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
